    /*! div style */
    .image-gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
        justify-content: center;
        padding: 4px;
    }

    .box {
        flex-basis: 25%;
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

  .img-gallery {
	width: 100%;
    /* height: 25rem; */
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    }

/* Language Switch Styling */
/* Parent container styling */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the switch to the right */
  gap: 8px; /* Add space between the labels and the switch */
}

/* Language labels styling */
.lang-label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

/* Styling for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #616365;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#lang-en {
  display: block;
}
#lang-ch {
  display: none;
}